<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab4_lenovo_k5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/choose_button">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".DateWidgetUpdateService"
            >

        </receiver>

        <receiver
            android:name=".DateWidget"
            android:icon="@drawable/ic_launcher_background"
            android:exported="true"
            android:enabled="true"
            android:label="Widget">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata">
            </meta-data>
        </receiver>
        <activity
            android:name=".ChooseDateActivity"
            android:label="@string/choose_button">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_CONFIGURE">
                </action>
            </intent-filter>
        </activity>
    </application>
</manifest>
